
@{
    ViewData["Title"] = "pageTin";
    Layout = "~/Views/Shared/_LayoutCinema.cshtml";
}

<div class="container">
    <div class="title_1 mt-3">
        <h5>CHƯƠNG TRÌNH ƯU ĐÃI DÀNH CHO CHỦ THẺ SHINHAN TẠI CINE</h5>
    </div>
    <div class="row">
        <div class="col-md-4 shin"><img src="../Layout/img_TinTuc/anhto.jpg" alt=""></div>
        <div class="col-md-8 mt-2">
            <p><strong>1. Thời gian triển khai: Mỗi Ngày từ ngày 01/07/2023– 31/12/2023. Chương trình sẽ kết thúc sớm khi hết ngân sách.</strong></p>
            <p><strong>2. Nội dung chương trình ưu đãi:</strong></p>
            <p>- Chi tiêu cùng thẻ tín dụng Shinhan Việt Nam và nhận vé xem phim  miễn phí khi mua vé trực tuyến trên ứng dụng Cinema <br> - Cách thức nhận ưu đãi:</p>
            <p>
                <strong>Bước 1:</strong>Chọn mua vé xem phim. <br>
                <strong>Bước 2:</strong>Tại mục “Giảm giá”, chọn ô “Đối tác”, tiếp tục chọn “SHINHAN”. <br>
                <strong>Bước 3:</strong> Chủ thẻ hợp lệ tiếp tục đến bước thanh toán và sử dụng thẻ thanh toán Shinhan <br>
                <strong>Bước 4:</strong>Chủ thẻ hợp lệ xuất trình thông tin tại rạp Cine để nhận vé xem phim.
            </p>
            <p><strong><em>Ghi chú:</em></strong></p>
            <p>- &Aacute;p dụng cho tất cả Chủ thẻ Shinhan với những đầu BIN sau: 401559,469673,469672,450255,403013,426021</p>
            <p>- Số lượt ưu đ&atilde;i &aacute;p dụng:&nbsp;Từ 01/07/2023 &ndash; 31/12/2023 &aacute;p dụng 30 ưu đ&atilde;i/ ng&agrave;y khuyến m&atilde;i.</p>
            <p>- Chương tr&igrave;nh bắt đầu từ <strong>09h00 - 23h59 </strong>mỗi ng&agrave;y.</p>
            <p>- &Aacute;p dụng cho v&eacute; xem phim 2D tại tất cả rạp  tr&ecirc;n to&agrave;n quốc.</p>
            <p>- Mỗi chủ thẻ được nhận tối đa 1 ưu đ&atilde;i/ 24h v&agrave; được tham gia tối đa 4 lần ưu đ&atilde;i tr&ecirc;n th&aacute;ng.</p>
            <p><br /><strong>3.&nbsp; QUY ĐỊNH CHUNG</strong></p>
            <p>- Chương tr&igrave;nh chỉ &aacute;p dụng cho hạng ghế thường v&agrave; hạng ghế VIP cho phim 2D. Mỗi cặp v&eacute; được &aacute;p dụng cho c&ugrave;ng một bộ phim, một suất chiếu v&agrave; c&ugrave;ng hạng ghế.</p>
            <p>- &Aacute;p dụng đặt v&eacute; trong ng&agrave;y Lễ/ Tế nhưng kh&ocirc;ng &aacute;p dụng cho c&aacute;c suất chiếu Lễ, tết</p>
            <p>- Kh&ocirc;ng &aacute;p dụng cho suất chiếu sớm, suất chiếu đặc biệt, v&agrave; c&aacute;c ph&ograve;ng chiếu đặc biệt như: IMAX, 4DX, GOLD CLASS, STARIUM, L&rsquo;AMOUR, SWEETBOX&hellip;</p>
            <p>- Chương tr&igrave;nh &aacute;p dụng cho tất cả c&aacute;c cụm rạp chiếu phim Cine tr&ecirc;n to&agrave;n quốc.</p>
            <p>- Khuyến m&atilde;i được &aacute;p dụng với số lượng giới hạn mỗi ng&agrave;y.</p>
            <p>- V&eacute; xem phim kh&ocirc;ng c&oacute; gi&aacute; trị đổi th&agrave;nh tiền mặt hay ho&agrave;n trả.</p>
            <p>- Chương tr&igrave;nh kh&ocirc;ng &aacute;p dụng đồng thời với c&aacute;c chương tr&igrave;nh khuyến m&atilde;i kh&aacute;c.</p>
            <p>- KH chỉ tiến h&agrave;nh thanh to&aacute;n khi hệ thống đ&atilde; hiển thị số tiền giảm gi&aacute;. Shinhan v&agrave; Cine kh&ocirc;ng chịu tr&aacute;ch nhiệm về việc hệ thống kh&ocirc;ng hiển thị số tiền giảm gi&aacute; m&agrave; KH vẫn tiến h&agrave;nh thanh to&aacute;n.</p>
            <p>- Cine bảo lưu to&agrave;n quyền điều chỉnh hoặc kết th&uacute;c chương tr&igrave;nh tại bất kỳ thời điểm n&agrave;o m&agrave; kh&ocirc;ng cần th&ocirc;ng b&aacute;o trước hoặc chịu tr&aacute;ch nhiệm bồi thường bằng tiền mặt hoặc t&agrave;i sản.</p>
            <p>- Cine bảo lưu quyền kh&ocirc;ng chấp nhận hoặc từ chối người tham gia c&oacute; dấu hiệu vi phạm c&aacute;c quy định chương tr&igrave;nh (căn cứ theo Điều khoản sử dụng dịch vụ hoặc c&oacute; bất k&igrave; h&agrave;nh vi n&agrave;o m&agrave; b&ecirc;n tổ chức cho rằng l&agrave; kh&ocirc;ng ph&ugrave; hợp hoặc kh&ocirc;ng thể chấp nhận).</p>
            <p>- Cine bảo lưu quyền hủy bỏ, sửa đổi v&agrave;/hoặc điều chỉnh to&agrave;n bộ hoặc một phần bất k&igrave; c&aacute;c điều kiện v&agrave; điều khoản của chương tr&igrave;nh tại bất kỳ thời điểm n&agrave;o m&agrave; kh&ocirc;ng cần th&ocirc;ng b&aacute;o trước cho người tham gia.</p>
            <p>- Trong trường hợp xảy ra tranh chấp, quyết định của Cine l&agrave; quyết định cuối c&ugrave;ng.</p>
        </div>
    </div>
</div>

