
@{
    ViewData["Title"] = "pageTinTuc";
    Layout = "~/Views/Shared/_LayoutCinema.cshtml";
}

<div class="container">
    <div class="home-title">
        <h2>TIN MỚI VÀ ƯU ĐÃI</h2>
    </div>
    <div>
        <div class="row">
            <div class="col-md-3">
                <div class="poster">
                    <div><a asp-controller="Home" asp-action="pageTin"><img src="../Layout/img_TinTuc/anh5.jpg" alt=""></a></div>

                </div>
                <div class="day">
                    <a href="./tin.html">
                        <h3>&nbsp;</h3>
                        <h4>13/10/2023-20/10/2023</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="poster">
                    <div><a href="./tin.html"><img src="../Layout/img_TinTuc/tintuc2.jpg" alt=""></a></div>
                </div>
                <div class="day">
                    <a href="./tin.html">
                        <h3>&nbsp;</h3>
                        <h4>13/10/2023-20/10/2023</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="poster">
                    <div><a href="./tin.html"><img src="../Layout/img_TinTuc/tintuc-3.png" alt=""></a></div>
                </div>
                <div class="day">
                    <a href="./tin.html">
                        <h3>&nbsp;</h3>
                        <h4>13/10/2023-20/10/2023</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="poster">
                    <div><a href="./tin.html"><img src="../Layout/img_TinTuc/anh4.png" alt=""></a></div>
                </div>
                <div class="day">
                    <a href="./tin.html">
                        <h3>&nbsp;</h3>
                        <h4>13/10/2023-20/10/2023</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="poster">
                    <div><a href="./tin.html"><img src="../Layout/img_TinTuc/tintuc-1.png" alt=""></a></div>
                </div>
                <div class="day">
                    <a href="./tin.html">
                        <h3>&nbsp;</h3>
                        <h4>1/7/2023-31/12/2023</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="poster">
                    <div><a href="./tin.html"><img src="../Layout/img_TinTuc/tintuc-4.png" alt=""></a></div>
                </div>
                <div class="day">
                    <a href="./tin.html">
                        <h3>&nbsp;</h3>
                        <h4>13/10/2023-20/10/2023</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="poster">
                    <div><a href="./tin.html"><img src="../Layout/img_TinTuc/anh7.jpg" alt=""></a></div>
                </div>
                <div class="day">
                    <a href="./tin.html">
                        <h3>&nbsp;</h3>
                        <h4>13/10/2023-20/10/2023</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="poster">
                    <div><a href="./tin.html"><img src="../Layout/img_TinTuc/anh8.jpg" alt=""></a></div>
                </div>
                <div class="day">
                    <a href="./tin.html">
                        <h3>&nbsp;</h3>
                        <h4>13/10/2023-20/10/2023</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="poster">
                    <div><a href="./tin.html"><img src="../Layout/img_TinTuc/tintc-5.jpg" alt=""></a></div>
                </div>
                <div class="day">
                    <a href="./tin.html">
                        <h3>&nbsp;</h3>
                        <h4>13/10/2023-20/10/2023</h4>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>

