
@{
    ViewData["Title"] = "ChiTietRap";
    Layout = "~/Views/Shared/_LayoutCinema.cshtml";
}


<div class="row mt-md-5 mt-sm-5 mt-5 mt-lg-5 mx-0 mb-4">
    <div class="col-lg-5 col-md-12 col-sm-12 col-12 bg-location mt-5 mt-md-5 mt-sm-3 mt-lg-5 px-0">
        <div class="col-md-11 col-sm-11 col-lg-11 col-11 m-auto">
            <h3 class="mt-3 mb-0">Tên rạp</h3>
            <span class="text-muted" style="font-size: 12px;">Tầng 6, VinCom Center Hà Nội, 191 Bà Triệu,Quận Hai Bà Trưng, Hà Nội</span>
            <img src="./images/landscape-1328858_1280.jpg" alt="" class="img-fluid rounded mt-3 mb-4">
            <p style="text-align: justify;">Lịch chiếu phim Đống Đa - Lịch chiếu rạp toàn quốc đầy đủ & tiện lợi nhất tại Moveek. Rạp Đống Đa là 1 trong những cụm rạp lâu đời nhất của Sài Gòn. Hiện Đống Đa đã được nâng cấp với tên gọi mới DDcinema với mong muốn mang đến những trải nghiệm điện ảnh tốt hơn với giá vé rất cạnh tranh</p>
            <div class="col-md-12 mt-5">
                <span>7</span> <span>bình luận</span><span class="mx-4"></span>
                <i class="ti-align-left mx-2"></i> <strong>Sắp xếp theo</strong>
                <!-- binhluan -->
                <div class="row mt-4">
                    <div class="col-md-2">
                        <img src="./images/profile.jpg" alt="" class="rounded-circle img-fluid">
                    </div>
                    <div class="col-md-10">
                        <div class="col-md-12">
                            <input type="text" data-bs-target="#comment" data-bs-toggle="collapse" placeholder="Viết bình luận" style="width: 100%;border-top: none; border-left: none; border-right: none;border-bottom: 1px solid #000;">
                        </div>
                        <div class="col-md-12 collapse mt-3" id="comment">
                            <i class="ti-face-smile"></i>
                            <button type="submit" class="border-1 px-2  float-end rounded-4 " style="font-size: px;">Bình luận</button>
                            <button class="border-0 float-end mx-2" style="background: #fff;"><b>Hủy</b></button>
                        </div>
                    </div>
                </div>
                <!-- binhluan -->
                <!-- user1 -->
                <div class="col-md-12  border-top mt-3">
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <img src="./images/profile.jpg" alt="" class="rounded-circle img-fluid">
                        </div>
                        <div class="col-md-10">
                            <a href="" class="text-decoration-none text-black "><b style="font-size: 16px;">user1</b></a><br>
                            <span>Rạp như tulen</span> <br>
                            <div class="col-md-12">
                                <i class="ti-thumb-up"></i> <span>1</span>
                                <i class="ti-thumb-down mx-3"></i>
                                <!-- phanhoi -->
                                <button class="border-0 " data-bs-target="#phanhoi1" data-bs-toggle="collapse" placeholder="Viết bình luận" style="background-color: #fff;font-size: 13px;"><b>Phản hồi</b></button>
                            </div>
                            <div class="row mt-4 collapse" id="phanhoi1">
                                <div class="col-md-2">
                                    <img src="/images/profile.jpg" alt="" class="rounded-circle img-fluid">
                                </div>
                                <div class="col-md-10">
                                    <div class="col-md-12">
                                        <input type="text" data-bs-toggle="collapse" placeholder="Phản hồi" style="width: 100%;border-top: none; border-left: none; border-right: none;border-bottom: 1px solid #000;">
                                    </div>
                                    <div class="col-md-12  mt-3">
                                        <i class="ti-face-smile"></i>
                                        <button type="submit" class="border-1 px-2  float-end rounded-4 " style="font-size: px;">Bình luận</button>
                                        <button class="border-0 float-end mx-2" style="background: #fff;"><b>Hủy</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- phanhoi -->
                    </div>
                </div>
                <!-- user1 -->
                <!-- user2 -->
                <div class="col-md-12  border-top mt-3">
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <img src="/images/profile.jpg" alt="" class="rounded-circle img-fluid">
                        </div>
                        <div class="col-md-10">
                            <a href="" class="text-decoration-none text-black "><b style="font-size: 16px;">user1</b></a><br>
                            <span>Rạp như tulen</span> <br>
                            <div class="col-md-12">
                                <i class="ti-thumb-up"></i> <span>1</span>
                                <i class="ti-thumb-down mx-3"></i>
                                <!-- phanhoi -->
                                <button class="border-0 " data-bs-target="#phanhoi2" data-bs-toggle="collapse" placeholder="Viết bình luận" style="background-color: #fff;font-size: 13px;"><b>Phản hồi</b></button>
                            </div>
                            <div class="row mt-4 collapse" id="phanhoi2">
                                <div class="col-md-2">
                                    <img src="/images/profile.jpg" alt="" class="rounded-circle img-fluid">
                                </div>
                                <div class="col-md-10">
                                    <div class="col-md-12">
                                        <input type="text" data-bs-toggle="collapse" placeholder="Phản hồi" style="width: 100%;border-top: none; border-left: none; border-right: none;border-bottom: 1px solid #000;">
                                    </div>
                                    <div class="col-md-12  mt-3">
                                        <i class="ti-face-smile"></i>
                                        <button type="submit" class="border-1 px-2  float-end rounded-4 " style="font-size: px;">Bình luận</button>
                                        <button class="border-0 float-end mx-2" style="background: #fff;"><b>Hủy</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- phanhoi -->
                    </div>
                </div>
                <!-- user2 -->
            </div>
        </div>

    </div>
    <div class="col-lg-7 col-md-12 col-sm-12 col-12 mt-5 mt-md-5 mt-sm-3 mt-lg-5 px-0 row mx-auto mx-sm-auto">

        <div class="col-md-12 col-12 col-lg-12 col-sm-12 px-2 ">
            <h3 class="mt-3 text-center">Lịch chiếu</h3>
            <p class="text-center"><i>Nhấn vào suất chiếu để đặt vé </i></p>

            <!-- Nav tabs -->
            <div class="nav justify-content-center nav-underline text-center cusor">
                <div class="nav-item  col-md-1 ">
                    <a class="nav-link active" data-bs-target="#day1" data-bs-toggle="tab">4/10 <br>Th4</a>
                </div>
                <div class="nav-item col-md-1">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#day2">5/10<br>Th5</a>
                </div>
                <div class="nav-item col-md-1 ">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#day3">6/10<br>Th6</a>
                </div>
                <div class="nav-item col-md-1 ">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#day4">7/10<br>Th7</a>
                </div>
                <div class="nav-item col-md-1 ">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#day5">8/10 <br>CN</a>
                </div>
                <div class="nav-item col-md-1 ">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#day6">9/10<br>Th2</a>
                </div>
                <div class="nav-item col-md-1 ">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#day7">10/10 <br>Th3</a>
                </div>
            </div>

        </div>
        <div class="col-md-12 col-12 col-lg-12 col-sm-12 px-4 mt-3">
            <div class="col-md-12 mt-3 "><span class="text-muted  " style="font-size: 14px;">Những suất có màu đỏ là những suất đã hết ghế!</span></div>
            <div class="tab-content tab ">
                <div class="tab-pane active  mb-3 mx-0" id="day1">
                    @{
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="row rounded shadow-sm mt-3 py-2 mx-0" style="border: 1px solid #cc7d7d; ">
                                <div class=" my-0 col-md-3 col-12 text-center">
                                    <img src="../Layout/images/anh2.png" alt="" class="img-fluid  rounded">
                                </div>
                                <div class=" col-md-9 col-12 mb-3">
                                    <h4 class="mb-0 mt-2"><a href="" class="text-decoration-none text-danger"><strong>Kẻ kiến tạo</strong></a></h4>
                                    <strong>Thể loại:</strong> <i> Hành động.  </i>
                                    <strong>Thời lượng:</strong> <i> 2h13'.</i>
                                    <strong>Xem thêm: </strong><a href="" class="text-center text-decoration-none ">Trailer.</a>
                                    <div class="">

                                        <div class="btn border-dark m-1">2D phụ đề Việt</div> <br>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">09:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">10:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">11:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">12:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">14:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">18:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">19:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">20:35</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- day2 -->
                <div class="tab-pane container   mt-3 fade" id="day2">
                    @{
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="row rounded shadow-sm" style="border: 1px solid #cc7d7d; ">
                                <div class="col col-md-2  text-center">
                                    <img src="/images/anh2.png" alt="" class="img-fluid mt-4 rounded">
                                </div>
                                <div class="col col-md-10 mb-3">
                                    <h4 class="mb-0 mt-2"><a href="" class="text-decoration-none text-danger"><strong>Kẻ kiến tạo</strong></a></h4>
                                    <strong>Thể loại:</strong> <i> Hành động.  </i>
                                    <strong>Thời lượng:</strong> <i> 2h13'.</i>
                                    <strong>Xem thêm: </strong><a href="" class="text-center text-decoration-none ">Trailer.</a>
                                    <div class="">
                                        <div class="btn border-dark m-1 ">3D phụ đề Việt</div>
                                        <div class="btn">2D phụ đề Việt</div> <br>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">09:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">10:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">11:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">12:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">14:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">18:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">19:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">20:35</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- day3        -->
                <div class="tab-pane container   mt-3 fade" id="day3">
                    @{
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="row rounded shadow-sm" style="border: 1px solid #cc7d7d; ">
                                <div class="col col-md-2  text-center">
                                    <img src="/images/anh2.png" alt="" class="img-fluid mt-4 rounded">
                                </div>
                                <div class="col col-md-10 mb-3">
                                    <h4 class="mb-0 mt-2"><a href="" class="text-decoration-none text-danger"><strong>Kẻ kiến tạo</strong></a></h4>
                                    <strong>Thể loại:</strong> <i> Hành động.  </i>
                                    <strong>Thời lượng:</strong> <i> 2h13'.</i>
                                    <strong>Xem thêm: </strong><a href="" class="text-center text-decoration-none ">Trailer.</a>
                                    <div class="">
                                        <div class="btn border-dark m-1 ">3D phụ đề Việt</div>
                                        <div class="btn">2D phụ đề Việt</div> <br>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">09:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">10:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">11:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">12:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">14:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">18:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">19:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">20:35</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- day4 -->
                <div class="tab-pane container   mt-3 fade" id="day4">
                    @{
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="row rounded shadow-sm" style="border: 1px solid #cc7d7d; ">
                                <div class="col col-md-2  text-center">
                                    <img src="/images/anh2.png" alt="" class="img-fluid mt-4 rounded">
                                </div>
                                <div class="col col-md-10 mb-3">
                                    <h4 class="mb-0 mt-2"><a href="" class="text-decoration-none text-danger"><strong>Kẻ kiến tạo</strong></a></h4>
                                    <strong>Thể loại:</strong> <i> Hành động.  </i>
                                    <strong>Thời lượng:</strong> <i> 2h13'.</i>
                                    <strong>Xem thêm: </strong><a href="" class="text-center text-decoration-none ">Trailer.</a>
                                    <div class="">
                                        <div class="btn border-dark m-1 ">3D phụ đề Việt</div>
                                        <div class="btn">2D phụ đề Việt</div> <br>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">09:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">10:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">11:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">12:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">14:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">18:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">19:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">20:35</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- day5 -->
                <div class="tab-pane container   mt-3 fade" id="day5">
                    @{
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="row rounded shadow-sm" style="border: 1px solid #cc7d7d; ">
                                <div class="col col-md-2  text-center">
                                    <img src="/images/anh2.png" alt="" class="img-fluid mt-4 rounded">
                                </div>
                                <div class="col col-md-10 mb-3">
                                    <h4 class="mb-0 mt-2"><a href="" class="text-decoration-none text-danger"><strong>Kẻ kiến tạo</strong></a></h4>
                                    <strong>Thể loại:</strong> <i> Hành động.  </i>
                                    <strong>Thời lượng:</strong> <i> 2h13'.</i>
                                    <strong>Xem thêm: </strong><a href="" class="text-center text-decoration-none ">Trailer.</a>
                                    <div class="">
                                        <div class="btn border-dark m-1 ">3D phụ đề Việt</div>
                                        <div class="btn">2D phụ đề Việt</div> <br>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">09:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">10:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">11:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">12:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">14:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">18:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">19:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">20:35</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- day6 -->
                <div class="tab-pane container   mt-3 fade" id="day6">
                    @{
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="row rounded shadow-sm" style="border: 1px solid #cc7d7d; ">
                                <div class="col col-md-2  text-center">
                                    <img src="/images/anh2.png" alt="" class="img-fluid mt-4 rounded">
                                </div>
                                <div class="col col-md-10 mb-3">
                                    <h4 class="mb-0 mt-2"><a href="" class="text-decoration-none text-danger"><strong>Kẻ kiến tạo</strong></a></h4>
                                    <strong>Thể loại:</strong> <i> Hành động.  </i>
                                    <strong>Thời lượng:</strong> <i> 2h13'.</i>
                                    <strong>Xem thêm: </strong><a href="" class="text-center text-decoration-none ">Trailer.</a>
                                    <div class="">
                                        <div class="btn border-dark m-1 ">3D phụ đề Việt</div>
                                        <div class="btn">2D phụ đề Việt</div> <br>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">09:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">10:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">11:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">12:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">14:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">18:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">19:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">20:35</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- day7-->
                <div class="tab-pane container   mt-3 fade" id="day7">

                    @{
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="row rounded shadow-sm" style="border: 1px solid #cc7d7d; ">
                                <div class="col col-md-2  text-center">
                                    <img src="/images/anh2.png" alt="" class="img-fluid mt-4 rounded">
                                </div>
                                <div class="col col-md-10 mb-3">
                                    <h4 class="mb-0 mt-2"><a href="" class="text-decoration-none text-danger"><strong>Kẻ kiến tạo</strong></a></h4>
                                    <strong>Thể loại:</strong> <i> Hành động.  </i>
                                    <strong>Thời lượng:</strong> <i> 2h13'.</i>
                                    <strong>Xem thêm: </strong><a href="" class="text-center text-decoration-none ">Trailer.</a>
                                    <div class="">
                                        <div class="btn border-dark m-1 ">3D phụ đề Việt</div>
                                        <div class="btn">2D phụ đề Việt</div> <br>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">09:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">10:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">11:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">12:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">14:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">18:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">19:35</a>
                                        <a href="" class="text-decoration-none btn bg-light border-info m-1 mt-2" style="border-radius: 3px;">20:35</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</div>
