<div class="footer bg-black" style="border-top: 1px solid #ccc;">
    <div class="container-fluid">
        <div class="row mt-3 text-md-start">
            <div class="col-12 col-md-2 col-sm-4 mb-3 mb-md-0 d-flex justify-content-center justify-content-md-start">
                <img src="../Layout/images/Untitled_logo_3_free-file.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-md-4 col-sm-8 text-white mb-3 mb-md-0">
                <strong style="font-size: 20px;">Công ty cổ phần MTV CinexPlus</strong> <br>
                Địa chỉ trụ sở: Tầng 3, số 595, đường Giải Phóng, phường Giáp Bát, quận Hoàng Mai, thành phố Hà Nội <br>
                Email: CinexPlus@mail.com <br>
                Hotline: 0123456789
            </div>
            <div class="col-12 col-md-3 col-sm-4 mb-3 mb-md-0">
                <a href="#" class="text-white text-decoration-none"><i class="ti-arrow-right mx-2"></i>Chính sách tuyển dụng</a> <br>
                <a href="#" class="text-white text-decoration-none"><i class="ti-arrow-right mx-2"></i>Giới thiệu</a> <br>
                <a href="#" class="text-white text-decoration-none"><i class="ti-arrow-right mx-2"></i>Điều khoản sử dụng</a> <br>
                <a href="#" class="text-white text-decoration-none"><i class="ti-arrow-right mx-2"></i>Hướng dẫn đặt vé online</a> <br>
                <a href="#" class="text-white text-decoration-none"><i class="ti-arrow-right mx-2"></i>Chính sách thanh toán, hoàn vé</a>
            </div>
            <div class="col-12 col-md-3 col-sm-8 text-center">
                <strong class="text-white">Liên hệ với chúng tôi</strong> <br> <br>
                <a href="#" class="text-decoration-none" style="color: blue;"><i class="footer-icon ti-facebook"></i></a>
                <a href="#" class="text-white text-decoration-none"><i class="footer-icon ti-youtube text-danger"></i></a>
                <a href="#" class="text-info text-decoration-none"><i class="footer-icon ti-twitter"></i></a>
            </div>
        </div>
        <br>
    </div>
</div>
