<div class="modal faded" id="modal-suat-chieu">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header modal-dialog-header">
                <h3 class="text-center">CHỌN SUẤT CHIẾU</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body modal-dialog-body py-0">
                <h1 class="text-center pt-3 film-name"></h1>
                <ul class="nav nav-tabs pt-2" role="tablist">   
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="container tab-pane active">
                        <br>
                        <div id="suat-chieu" class="row">
                           
                           @*  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 text-center">
                                <a style="width:100%" data-bs-toggle="modal" data-bs-target="#modal-xac-nhan" class="btn default time-xem">22:00</a>
                                <div class="font-smaller padding-top-5">154 ghế trống</div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 text-center">
                                <a style="width:100%" class="btn default time-xem">23:00</a>
                                <div class="font-smaller padding-top-5">115 ghế trống</div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5 text-center">
                                <a style="width:100%" class="btn default time-xem">23:30</a>
                                <div class="font-smaller padding-top-5">170 ghế trống</div>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer modal-dialog-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>
