<div class="modal" id="modal-thanh-toan">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-black">
                <h1>Thanh toán</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-black">
                <h2>Thông tin vé</h2>
                <div class="money-inf">
                    <div class="information">
                        <p class="inf"><i class="fa-solid fa-film spa"></i>Rap CineFilm</p>
                        <p class="inf"><i class="fa-solid fa-calendar-days spa"></i>Ngày chiếu  13/10/2023</p>
                        <p class="inf"><i class="fa-solid fa-clock spa"></i>Giờ chiếu   22:00</p>
                        <p class="inf"><i class="fa-solid fa-house spa"></i>Phòng chiếu </p>
                        <p class="inf"><i class="fa-solid fa-chair spa"></i> Ghế ngồi <span id="chair-x"></span></p>
                    </div>
                    <div class="sum-money">
                        <p id="ra-di" class="sumMoney"></p>
                        <p id="tien-bong" class="sumMoney"></p>
                        <p id="sum-money-p" class="sumMoney sumMoney-x"></p>
                    </div>
                </div>
                <div class="phuongthucthanhtoan">
                    <div class="hear-z">
                        <span class="icon-buy-x"></span>
                        <h2>Phương thức thanh toán</h2>
                        <h3>Chọn thẻ thanh toán</h3>
                    </div>
                    <div class="body-buy">
                        <div class="buy-online">
                            <input type="radio" name="" id="" style=" transform: scale(1.3);">
                            <img class="icon-bank" src="../Layout/images/mkbank1.jpg"></img>
                            <span class="name-buy">MB BANK</span>
                        </div>
                        <div class="buy-online">
                            <input type="radio" name="" id="" style=" transform: scale(1.3);">
                            <img src="../Layout/images/vietcombank.jpg" class="icon-bank"></img>
                            <span class="name-buy">VIETCOMBANK</span>
                        </div>
                        <div class="buy-online">
                            <input type="radio" name="" id="" style=" transform: scale(1.3);">
                            <img src="../Layout/images/shopeePay.png" class="icon-bank"></img>
                            <span class="name-buy">SHOPEE PAY</span>
                        </div>
                        <div class="buy-online">
                            <input type="radio" name="" id="" style=" transform: scale(1.3);">
                            <img src="../Layout/images/momo.jpg" class="icon-bank"></img>
                            <span class="name-buy">MOMO</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->

            <div class="modal-footer">
                <input class="Buy" type="button" value="Tiếp Tục"></input>
            </div>

        </div>
    </div>
</div>